<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head lang="en">
    <meta charset="UTF-8">
    <title>DVE Rental Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Customers Management System</h1>
    <hr>
    <h2>Add movie</h2>

    <form action="#" th:action="@{/saveMovie}" th:object="${newMovie}" method="post">
        <input type="text" th:field="*{title}" placeholder="Title" class="form-control mb-4 col-4">
        <input type="hidden" th:field="*{rentCard.id}" placeholder="Id" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save Movie</button>
    </form>

    <hr>
</div>
</body>
</html>